@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'sans-serif';
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/*HEADER*/
header {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    min-height: 100px;
    padding: 10px;

}

header a {
    text-decoration: none;
    color: #ccc;
}



header a:hover {
    color: #ccc;
}


.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 60px;
    margin-right: 10px;

}

#head-log {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    min-height: 100px;
    padding: 10px;
}

#head-log a {
    text-decoration: none;
    color: #ffffff;
}

#head-log body {
    background-color: #f5f5f5;
}

#head-log .logo {
    align-items: center;

}

#head-log .logo img {
    width: 60px;
    margin-right: 10px;

}

/*FIN HEADER*/
/* Caja de busqueda HEADER */

#form-bus {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-bus[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}




h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/*FIN*/


#wrapper {
    background: #ececec;
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#res {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.side-image {
    background-image: url("Img/productos/digital.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #000000;
    font-size: 18px;
}

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field .input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #743ae1;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

.submit:hover {
    background: rgba(37, 95, 156, 0.9);
    color: #fff;
}

.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }

    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }

    .text p,
    i {
        font-size: 17px;
    }

    #res {
        max-width: 420px;
        width: 100%;
        height: 680px;
    }
}


/* HEADER*/

@media (max-width:1060px){
	header{
		flex-direction: column;
	}

}


/*FOOTER*/
.footer-clean {
    padding: 50px 0;
    background-color: #333333;
    color: #fbfdff;
    margin-top: auto;
  }
  
  .footer-clean i {
    color: #af07f1;
  }
  
  .footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-clean ul a:hover {
    opacity: 1;
  }
  
  @media (max-width:1050px) {
    .footer-clean .item {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  @media (max-width: 1050px) {
    .footer-clean .item.social {
      text-align: center;
    }
  }
  
  
  
  
  
  @media (max-width:991px) {
    .footer-clean .item.social>a {
      margin-top: 40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social>a {
      margin-top: 10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
  }
  
  .footer-copy {
    text-align: center;
    margin-top: 15px;
  }

  
  .container-carro h2 {
    justify-content: center;
    align-items: center;
  }
  
  .img-carro {
    width: 800px;
  }
  
  
  
  .input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
  }
  
  .input:focus {
    outline: none;
  }
  
  .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 10px 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-30px);
    font-size: 14px;
    color: #333;
  }
  
  .fa-check-circle,
  .fa-exclamation-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #ddd;
  }
  
  .fa-check-circle {
    color: green;
  }
  
  .error-message {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 14px;
    color: red;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .input-field.invalid .fa-exclamation-circle {
    color: red;
  }
  
  .input-field.invalid .error-message {
    opacity: 1;
  }
  
  .submit {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit:hover {
    background-color: #111;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
    #log {
      max-width: 700px;
      width: 100%;
    }
    #form-bus{
      width: 100px;
    }

    .byteworks {
      display: flex; /* Usa un diseño flexible para alinear el contenido */
      align-items: center; /* Centra verticalmente el contenido */
    }
    
    .logo img {
      width:60px ;
      margin-left: 20px; /* Ajusta el margen izquierdo para separar el logotipo del texto */
    }
  }

  
    