{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/productos.css" %}'>
	<script src="https://kit.fontawesome.com/ecebce019f.js" crossorigin="anonymous"></script>
    <title>Audifonos HyperX Cloud Inalambricos Id:38901</title>
</head>
<body>
    <header>
		<a href='{% url "home" %}' class="logo">
			<img src='{% static "img/logo.png" %}' alt="logo empresa">
			<div class="byteworks">
				<h2>Byteworks</h2>
			</div>
		</a>

		<form class="busqueda" method="get">
			<input type="text" placeholder="Buscar">
			<button type="submit">Buscar</button>
		</form>

		<nav>
			<ul>
				<li><a href="{% url 'inicioSe' %}">Iniciar Sesion</a></li>
				<li>|</li>
				<a href="{% url 'carro' %}"><li><i class="fa-solid fa-cart-shopping"></i></li></a>
			</ul>
		</nav>
	</header>


<section id="des">

	<div class="container">

		<div class="img-container">
			<img src='{% static "img/productos/producto3.jpg" %}' alt="">
		</div>
		<div class="texto">
			<h2>Producto: Logitech G Pro X</h2>
			<h2>Id:2701</h2>

			<h2>$94.990</h2>
			<br>
			<p>Descripcion: ¡Experimenta la adrenalina de sumergirte en la escena de otra manera! Tener auriculares específicos para jugar cambia completamente tu experiencia en cada partida. Con los Logitech Pro X no te pierdes ningún detalle y escuchas el audio tal y como fue diseñado por los creadores.

				El formato perfecto para ti
				Al ser headset podrás escuchar tu música preferida, mantener llamadas telefónicas y jugar en línea desde tu PC sin perderte ningún detalle.</p>
			<br>
			<button>Anadir al carro</button>
			<br>

		</div>

	</div>

</section>

<div class="nada">

</div>

<div class="footer-clean">
	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-4 col-md-3 item">
					<h3>Información</h3>
					<ul>
						<li><a href="#">Despachos</a></li>
						<li><a href="{% url 'api' %}">Todos los productos</a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Servicio al cliente</h3>
					<ul>
						<li><a href="#">Política de cambios y devolución</a></li>
						<li><a href="#">Política de privacidad</a></li>
						<li><a href="#">Términos y condiciones</a></li>
						<li><a href="{% url 'lista_productos' %}">Lista Productos</a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Contáctanos</h3>
					<ul>
						<li><i class="fa-solid fa-phone"></i><a href="#"> +569 66505847</a></li>
						<li><i class="fa-sharp fa-solid fa-envelope"></i><a href="#"> contacto@byte.cl</a></li>
						<li><i class="fa-solid fa-map"></i><a href="#"> Lun a vie 10:00 a 17:30</a></li>
						<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contacto' %}"> Formulario web</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copy">
			<p>ByteWorks ©2023</p>
		</div>
	</footer>
</div>









<script src="https://code.jquery.com/jquery-3.6.4.min.js"
	integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
	integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
	integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
	crossorigin="anonymous"></script>
</body>

</html>
    
</body>
</html>