{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/style.css" %}'>
	<script src="https://kit.fontawesome.com/ecebce019f.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
		<a href='{% url "home" %}' class="logo">
			<img src='{% static "img/logo.png" %}' alt="logo empresa">
			<div class="byteworks">
				<h2>Byteworks</h2>
			</div>
		</a>

		<form class="busqueda" method="get">
			<input type="text" placeholder="Buscar">
			<button type="submit">Buscar</button>
		</form>

		<nav>
			<ul>
				<li><a href="{% url 'inicioSe' %}">Iniciar Sesion</a></li>
				<li>|</li>
				<a href="{% url 'carro' %}"><li><i class="fa-solid fa-cart-shopping"></i></li></a>
			</ul>
		</nav>
	</header>


    <div class="text-center">
        <h1 id="textList">Lista tipo Productos</h1>
    </div>
    <br>

    <a class="text-primary text-decoration-none btn btn-primary text-light" href="{% url 'tipoProductoAdd' %}">Agregar <a></a>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table class="table">
        {% if Tproducto %}
            <th>Tipo Producto</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for tmp in Tproducto %}
                <tr>
                    <td>{{tmp.TipoProductos}}</td>
                    <td><a class="text-primary text-decoration-none"href="{% url 'tipoProducto_del' pk=tmp.id_tipoProducto %}">Eliminar</a></td>
                    <td><a class="text-primary text-decoration-none" href="{% url 'tipoProducto_edit' pk=tmp.id_tipoProducto %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br>
    <a class="text-primary text-decoration-none btn btn-primary text-light" href="{% url 'lista_productos' %}">Volver <a>

</body>
</html>